body {
  background-image: url('IMG_20240626_171938.webp');
  background-repeat: none;
  background-size:cover;
  font-family: Calibri;
}
#taskbar {
  height: 50px;
  width: 100%;
  background-color: lightblue;
  bottom: 0;
  margin: 0;
  padding: 5px;
  position: fixed;
}
#tray {
  margin-left: auto; /* Aligns the tray to the right */
  display: flex;
  color: black;
  padding-right: 10px; /* Added padding to the right */
  font-size: 15pt;
}
